@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,body,input,textarea{ margin:0;padding:0;}
img{ vertical-align:top; border:none;}
a{ text-decoration:none; color:#666;}
li{ list-style:none;}
input,textarea{ border:none; background:none; outline:none;}
textarea{ resize:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:1024px; margin:0 auto;}


